# 파일합치기
## 대상파일 : '전종목기본정보_'+dt_str+'.xlsx'
##                 '전종목지정내역_'+dt_str+'.csv'
##                 'per_pbr_배당_'+dt_str+'.csv'
## 결과파일 : '주식전체_'+dt_str+'.xlsx'

In [1]:
import pandas as pd
import datetime
import glob
import os

In [2]:
#  기초정보
# 0은 월요일, 1은 화요일, 2는 수요일, 3은 목요일, 4는 금요일 ,5는 토요일 ,6은 일요일
weekday_str = datetime.datetime.now().weekday() # 주 :일자로 변환
if weekday_str == 6 :
    dt_time = datetime.datetime.now() - datetime.timedelta(days=2)
elif weekday_str == 5 :
    dt_time = datetime.datetime.now() - datetime.timedelta(days=1)
else:
    dt_time = datetime.datetime.now()

dt_str = datetime.datetime.strftime(dt_time, '%Y%m%d')
print('작업일자 ==> ', dt_str)

작업일자 ==>  20220415

In [3]:
# 폴더

folder_nm = '주식_' + dt_str
path = './' + folder_nm
if os.path.isdir(path) == False : os.mkdir(folder_nm)

In [4]:
# 전종목기본정보_20220320.xlsx
file_nm_1 = '전종목기본정보_'+dt_str+'.xlsx'
df1 = pd.read_excel(folder_nm+'/'+ file_nm_1, index_col= 0)
# 칼럼변경 (단축코드->종목코드)
df1.rename(columns={"단축코드":"종목코드"}, inplace=True)
# 칼럼삭제 (표준코드)
df1.drop(['표준코드','한글 종목명','영문 종목명','상장일'], axis='columns', inplace=True) # 칼럼단위 삭제
# index = 종목코드
df1.set_index('종목코드', inplace=True)
df1

        한글 종목약명    시장구분 증권구분          소속부   주식종류   액면가      상장주식수
종목코드
098120  마이크로컨텍솔  KOSDAQ   주권        벤처기업부    보통주   500    8312766
131100   스카이이앤엠  KOSDAQ   주권  관리종목(소속부없음)    보통주   500   12250629
009520    포스코엠텍  KOSDAQ   주권        우량기업부    보통주   500   41642703
095570   AJ네트웍스   KOSPI   주권          NaN    보통주  1000   46822295
006840    AK홀딩스   KOSPI   주권          NaN    보통주  5000   13247561
...         ...     ...  ...          ...    ...   ...        ...
000547  흥국화재2우B   KOSPI   주권          NaN  신형우선주  5000     153600
000540     흥국화재   KOSPI   주권          NaN    보통주  5000   64242645
003280     흥아해운   KOSPI   주권          NaN    보통주   500  240424899
037440       희림  KOSDAQ   주권        중견기업부    보통주   500   13922475
238490       힘스  KOSDAQ   주권        우량기업부    보통주   500   11312236

[2622 rows x 7 columns]

In [5]:
# 전종목지정내역_20220320.csv
# file_nm_2 = '전종목지정내역_'+dt_str+'.csv'
# df2 = pd.read_csv(file_nm_2, encoding='cp949')
file_nm_2 = '전종목지정내역_'+dt_str+'.xlsx'
df2 = pd.read_excel(folder_nm+'/'+ file_nm_2)
# 칼럼삭제 (표준코드)
# df2.drop(['종목명','Unnamed: 0'], axis='columns', inplace=True) # 칼럼단위 삭제
df2.drop(['종목명'], axis='columns', inplace=True) # 칼럼단위 삭제
# index = 종목코드
df2.set_index('종목코드', inplace=True)
df2.head()

,Unnamed: 0,매매거래정지,정리매매 종목,관리종목,투자주의환기종목,불성실공시,단일가매매대상 초저유동성종목,상장주식수 부족 우선주,단기과열종목,투자주의종목,투자경고종목,투자위험종목
종목코드,,,,,,,,,,,,
060310,0,X,X,X,X,X,X,X,X,X,X,X
095570,1,X,X,X,X,X,X,X,X,X,X,X
006840,2,X,X,X,X,X,X,X,X,X,X,X
054620,3,X,X,X,X,X,X,X,X,X,X,X
265520,4,X,X,X,X,X,X,X,X,X,X,X

In [6]:
# per_pbr_배당_20220320.csv
# file_nm_3 = 'per_pbr_배당_'+dt_str+'.csv'
# df3 = pd.read_csv(file_nm_3, encoding='cp949')
file_nm_3 = 'per_pbr_배당_'+dt_str+'.xlsx'
df3 = pd.read_excel(folder_nm+'/'+ file_nm_3)
# 칼럼삭제 (표준코드)
# df3.drop(['종목명', 'Unnamed: 0'], axis='columns', inplace=True) # 칼럼단위 삭제
df3.drop(['종목명'], axis='columns', inplace=True) # 칼럼단위 삭제
# index = 종목코드
df3.set_index('종목코드', inplace=True)
df3

,Unnamed: 0,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
종목코드,,,,,,,,,,,,
060310,0,3385,-25,-0.73,16.0,211.56,NaN,NaN,792.0,4.27,0,0.00
095570,1,6460,0,0.00,NaN,NaN,NaN,NaN,6089.0,1.06,210,3.25
006840,2,23200,-300,-1.28,NaN,NaN,NaN,NaN,50471.0,0.46,400,1.72
054620,3,12850,-150,-1.15,NaN,NaN,NaN,NaN,8135.0,1.58,0,0.00
265520,4,22800,-200,-0.87,1736.0,13.13,3228.0,7.06,9041.0,2.52,120,0.53
...,...,...,...,...,...,...,...,...,...,...,...,...
000547,2441,31750,50,0.16,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00
000545,2442,9000,20,0.22,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00
003280,2443,2895,30,1.05,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00
037440,2444,8110,60,0.75,389.0,20.85,NaN,NaN,4034.0,2.01,150,1.85
238490,2445,8990,90,1.01,1522.0,5.91,NaN,NaN,6872.0,1.31,150,1.67

In [7]:
# 업종상세_20220321.xlsx
file_nm_4 = '업종상세_'+dt_str+'.xlsx'
df4 = pd.read_excel(folder_nm+'/'+ file_nm_4 ,usecols="B,D")
# df4 = pd.read_excel(file_nm_4 )
# 칼럼변경 (단축코드->종목코드)
# df4.rename(columns={"종목코드":"종목코드1"}, inplace=True)
df4.T.drop_duplicates().T
df4.reset_index(drop=True)
# index = 종목코드
df4.set_index('종목코드', inplace=True)

df4

                업종
종목코드
006880  식품과기본식료품소매
227840  식품과기본식료품소매
051500  식품과기본식료품소매
004590  식품과기본식료품소매
250000  식품과기본식료품소매
...            ...
084650  생명과학도구및서비스
950130  생명과학도구및서비스
205470  생명과학도구및서비스
206640  생명과학도구및서비스
096530  생명과학도구및서비스

[3451 rows x 1 columns]

In [8]:
# 테마_20220321.xlsx
file_nm_5 = '테마_'+dt_str+'.xlsx'
df5 = pd.read_excel(folder_nm+'/'+ file_nm_5 ,usecols="B,C,D", dtype={'종목코드':str})

# df5 = df5.groupby(['종목코드','종목명'])['테마'].apply(', '.join).reset_index()
df5 = df5.groupby(['종목코드'])['테마'].apply(', '.join).reset_index()
# index = 종목코드
df5.set_index('종목코드', inplace=True)
df5

                                                       테마
종목코드
000020                                           겨울, 제약업체
000060                                               손해보험
000070                       지주사, mRNA(메신저 리보핵산), 환율하락 수혜
000080  스포츠행사 수혜(올림픽, 월드컵 등), 여름, 주류업(주정, 에탄올 등), 음식료업...
000100  겨울, 미용기기, K-뉴딜지수, 코로나19(화이자), 제약업체, 치매, 코로나19(...
...                                                   ...
950180                     2019 상반기 신규상장, 게임, 모바일게임(스마트폰)
950190                         2020 하반기 신규상장, 모바일게임(스마트폰)
950200  코로나19(모더나), 2020 하반기 신규상장, 유전자 치료제/분석, 마이크로바이옴...
950210  2021 상반기 신규상장, 제약업체, 코로나19(스푸트니크V), 바이오시밀러(복제 ...
950220                               2021 상반기 신규상장, 면역항암제

[2201 rows x 1 columns]

## pd.concat() : dataframe합치기

In [9]:
# 저장파일명
file_nm_result = '주식전체_'+dt_str+'.xlsx'
# result_df = pd.concat([df1, df2, df3, df4], axis=1) # axis=1 좌우로 이어 붙여보기
result_df = pd.concat([df1, df2, df3, df4, df5], axis=1) # axis=1 좌우로 이어 붙여보기
result_df.drop(['Unnamed: 0'], axis='columns', inplace=True) # 칼럼단위 삭제
# 한글 종목약명이 null인 index 찾기
df_del_idx = result_df[result_df['한글 종목약명'].isnull()].index
# 한글 종목약명이 null인 데이터 삭제
result_df = result_df.drop(df_del_idx)
result_df.reset_index(drop=False, inplace=True)


result_df['조회항목'] = result_df['종목코드'] +' '+result_df['한글 종목약명']
# result_df.head()
# 엑셀저장
result_df.to_excel(folder_nm+'/'+ file_nm_result, sheet_name='total', na_rep='')
print("파일생성 ==> {}",format(file_nm_result))
# # result_df.head()

파일생성 ==> {} 주식전체_20220415.xlsx